.student-stats {
    flex-grow: 1;
}

.stats-details {
    margin-bottom: 10px;
}

.correct-answers {
    color: "#66b366";
}

.incorrect-answers {
    color: "#ff6666";
}

.percentage-correct {
    color: black;
}
